# Reading Data

1. Reading from a CSV file
2. Reading from a txt file
3. Reading from multiple txt files
4. Exercise
5. Reading Excel files

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

In [1]:
!git clone https://github.com/sros-UNED/NLPforHumanist.git

Cloning into 'NLPforHumanist'...
remote: Enumerating objects: 54, done.
remote: Counting objects: 100% (49/49), done.
remote: Compressing objects: 100% (43/43), done.
remote: Total 54 (delta 12), reused 25 (delta 6), pack-reused 5
Unpacking objects: 100% (54/54), done.

## Reading from a CSV file

In [2]:
 import pandas as pd
 path='drive/My Drive/Colab Notebooks/trinity/data_trinity/'

In [8]:

import pandas as pd
path='/content/NLPforHumanist/data_trinity/'

In [9]:
# Reading data from a CSV file using read_csv() in a DATAFRAME
reviews=pd.read_csv(path+'reviews.csv')

![dataframe.jpg]()

##Seeing Data

In [10]:
# Printing shape of dataframe
print('Shape=>',reviews.shape)

Shape=> (17494, 5)

In [11]:
# Printing first five rows
reviews.head()

   review_id  ... user_suggestion
0          1  ...               1
1          2  ...               1
2          3  ...               1
3          4  ...               1
4          5  ...               1

[5 rows x 5 columns]

In [12]:
reviews.describe

<bound method NDFrame.describe of        review_id  ... user_suggestion
0              1  ...               1
1              2  ...               1
2              3  ...               1
3              4  ...               1
4              5  ...               1
...          ...  ...             ...
17489      25535  ...               1
17490      25536  ...               1
17491      25537  ...               1
17492      25538  ...               1
17493      25539  ...               1

[17494 rows x 5 columns]>

In [13]:
reviews.mean()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

review_id          12423.216989
year                2016.388427
user_suggestion        0.569795
dtype: float64

In [22]:
data =reviews.count()
data =reviews.iloc[:,2].count()
type(data)
data
# data [0]

17316

In [23]:
print('First row  DataFrame:')
reviews.loc[0]

First row  DataFrame:

review_id                                                          1
title                                    Spooky's Jump Scare Mansion
year                                                          2016.0
user_review        I'm scared and hearing creepy voices.  So I'll...
user_suggestion                                                    1
Name: 0, dtype: object

In [18]:
print(reviews.iloc[0][1])
print(reviews.iloc[:, 0])
print(reviews[['title','year']])
reviews [['title','year']] [:1]

Spooky's Jump Scare Mansion
0            1
1            2
2            3
3            4
4            5
         ...
17489    25535
17490    25536
17491    25537
17492    25538
17493    25539
Name: review_id, Length: 17494, dtype: int64
                             title    year
0      Spooky's Jump Scare Mansion  2016.0
1      Spooky's Jump Scare Mansion  2016.0
2      Spooky's Jump Scare Mansion  2016.0
3      Spooky's Jump Scare Mansion  2015.0
4      Spooky's Jump Scare Mansion  2015.0
...                            ...     ...
17489                 EverQuest II  2012.0
17490                 EverQuest II  2017.0
17491                 EverQuest II  2011.0
17492                 EverQuest II     NaN
17493                 EverQuest II     NaN

[17494 rows x 2 columns]

                         title    year
0  Spooky's Jump Scare Mansion  2016.0

In [24]:
#WRITING A DATAFRAME 
reviews.to_csv(path+"reviews.tsv",sep = "\t")

In [ ]:
reviews.columns.tolist()
reviews['title'].tolist()

## Reading from a txt file

In [ ]:
# Reading text file in read mode as a file object using open()
file=open('drive/My Drive/Colab Notebooks/trinity/moby_dick/moby_chp1.txt',mode='r',encoding='utf-8')

In [26]:
file=open('/content/NLPforHumanist/moby_dick/moby_chp1.txt',mode='r',encoding='utf-8')

In [27]:
# Getting text data as string from file object using read()
text=file.read()
type(text)

str

In [28]:
# Closing the file using close()
file.close()

In [29]:
print(text)

CHAPTER 1

Loomings.


Call me Ishmael.  Some years ago--never mind how long
precisely--having little or no money in my purse, and nothing
particular to interest me on shore, I thought I would sail about a
little and see the watery part of the world.  It is a way I have of
driving off the spleen and regulating the circulation.  Whenever I
find myself growing grim about the mouth; whenever it is a damp,
drizzly November in my soul; whenever I find myself involuntarily
pausing before coffin warehouses, and bringing up the rear of every
funeral I meet; and especially whenever my hypos get such an upper
hand of me, that it requires a strong moral principle to prevent me
from deliberately stepping into the street, and methodically knocking
people's hats off--then, I account it high time to get to sea as soon
as I can.  This is my substitute for pistol and ball.  With a
philosophical flourish Cato throws himself upon his sword; I quietly
take to the ship.  There is nothing surprising in this.  If they but
knew it, almost all men in their degree, some time or other, cherish
very nearly the same feelings towards the ocean with me.

There now is your insular city of the Manhattoes, belted round by
wharves as Indian isles by coral reefs--commerce surrounds it with
her surf.  Right and left, the streets take you waterward.  Its
extreme downtown is the battery, where that noble mole is washed by
waves, and cooled by breezes, which a few hours previous were out of
sight of land.  Look at the crowds of water-gazers there.

Circumambulate the city of a dreamy Sabbath afternoon.  Go from
Corlears Hook to Coenties Slip, and from thence, by Whitehall,
northward.  What do you see?--Posted like silent sentinels all around
the town, stand thousands upon thousands of mortal men fixed in ocean
reveries.  Some leaning against the spiles; some seated upon the
pier-heads; some looking over the bulwarks of ships from China; some
high aloft in the rigging, as if striving to get a still better
seaward peep.  But these are all landsmen; of week days pent up in
lath and plaster--tied to counters, nailed to benches, clinched to
desks.  How then is this?  Are the green fields gone?  What do they
here?

But look! here come more crowds, pacing straight for the water, and
seemingly bound for a dive.  Strange!  Nothing will content them but
the extremest limit of the land; loitering under the shady lee of
yonder warehouses will not suffice.  No.  They must get just as nigh
the water as they possibly can without falling in.  And there they
stand--miles of them--leagues.  Inlanders all, they come from lanes
and alleys, streets and avenues--north, east, south, and west.  Yet
here they all unite.  Tell me, does the magnetic virtue of the
needles of the compasses of all those ships attract them thither?

Once more.  Say you are in the country; in some high land of lakes.
Take almost any path you please, and ten to one it carries you down
in a dale, and leaves you there by a pool in the stream.  There is
magic in it.  Let the most absent-minded of men be plunged in his
deepest reveries--stand that man on his legs, set his feet a-going,
and he will infallibly lead you to water, if water there be in all
that region.  Should you ever be athirst in the great American
desert, try this experiment, if your caravan happen to be supplied
with a metaphysical professor.  Yes, as every one knows, meditation
and water are wedded for ever.

But here is an artist.  He desires to paint you the dreamiest,
shadiest, quietest, most enchanting bit of romantic landscape in all
the valley of the Saco.  What is the chief element he employs?  There
stand his trees, each with a hollow trunk, as if a hermit and a
crucifix were within; and here sleeps his meadow, and there sleep his
cattle; and up from yonder cottage goes a sleepy smoke.  Deep into
distant woodlands winds a mazy way, reaching to overlapping spurs of
mountains bathed in their hill-side blue.  But though the picture
lies thus tranced, and though this pine-tree shakes down its sighs
like leaves upon this shepherd's head, yet all were vain, unless the
shepherd's eye were fixed upon the magic stream before him.  Go visit
the Prairies in June, when for scores on scores of miles you wade
knee-deep among Tiger-lilies--what is the one charm
wanting?--Water--there is not a drop of water there!  Were Niagara
but a cataract of sand, would you travel your thousand miles to see
it?  Why did the poor poet of Tennessee, upon suddenly receiving two
handfuls of silver, deliberate whether to buy him a coat, which he
sadly needed, or invest his money in a pedestrian trip to Rockaway
Beach?  Why is almost every robust healthy boy with a robust healthy
soul in him, at some time or other crazy to go to sea?  Why upon your
first voyage as a passenger, did you yourself feel such a mystical
vibration, when first told that you and your ship were now out of
sight of land?  Why did the old Persians hold the sea holy?  Why did
the Greeks give it a separate deity, and own brother of Jove?  Surely
all this is not without meaning.  And still deeper the meaning of
that story of Narcissus, who because he could not grasp the
tormenting, mild image he saw in the fountain, plunged into it and
was drowned.  But that same image, we ourselves see in all rivers and
oceans.  It is the image of the ungraspable phantom of life; and this
is the key to it all.

Now, when I say that I am in the habit of going to sea whenever I
begin to grow hazy about the eyes, and begin to be over conscious of
my lungs, I do not mean to have it inferred that I ever go to sea as
a passenger.  For to go as a passenger you must needs have a purse,
and a purse is but a rag unless you have something in it.  Besides,
passengers get sea-sick--grow quarrelsome--don't sleep of nights--do
not enjoy themselves much, as a general thing;--no, I never go as a
passenger; nor, though I am something of a salt, do I ever go to sea
as a Commodore, or a Captain, or a Cook.  I abandon the glory and
distinction of such offices to those who like them.  For my part, I
abominate all honourable respectable toils, trials, and tribulations
of every kind whatsoever.  It is quite as much as I can do to take
care of myself, without taking care of ships, barques, brigs,
schooners, and what not.  And as for going as cook,--though I confess
there is considerable glory in that, a cook being a sort of officer
on ship-board--yet, somehow, I never fancied broiling fowls;--though
once broiled, judiciously buttered, and judgmatically salted and
peppered, there is no one who will speak more respectfully, not to
say reverentially, of a broiled fowl than I will.  It is out of the
idolatrous dotings of the old Egyptians upon broiled ibis and roasted
river horse, that you see the mummies of those creatures in their
huge bake-houses the pyramids.

No, when I go to sea, I go as a simple sailor, right before the mast,
plumb down into the forecastle, aloft there to the royal mast-head.
True, they rather order me about some, and make me jump from spar to
spar, like a grasshopper in a May meadow.  And at first, this sort of
thing is unpleasant enough.  It touches one's sense of honour,
particularly if you come of an old established family in the land,
the Van Rensselaers, or Randolphs, or Hardicanutes.  And more than
all, if just previous to putting your hand into the tar-pot, you have
been lording it as a country schoolmaster, making the tallest boys
stand in awe of you.  The transition is a keen one, I assure you,
from a schoolmaster to a sailor, and requires a strong decoction of
Seneca and the Stoics to enable you to grin and bear it.  But even
this wears off in time.

What of it, if some old hunks of a sea-captain orders me to get a
broom and sweep down the decks?  What does that indignity amount to,
weighed, I mean, in the scales of the New Testament?  Do you think
the archangel Gabriel thinks anything the less of me, because I
promptly and respectfully obey that old hunks in that particular
instance?  Who ain't a slave?  Tell me that.  Well, then, however the
old sea-captains may order me about--however they may thump and punch
me about, I have the satisfaction of knowing that it is all right;
that everybody else is one way or other served in much the same
way--either in a physical or metaphysical point of view, that is; and
so the universal thump is passed round, and all hands should rub each
other's shoulder-blades, and be content.

Again, I always go to sea as a sailor, because they make a point of
paying me for my trouble, whereas they never pay passengers a single
penny that I ever heard of.  On the contrary, passengers themselves
must pay.  And there is all the difference in the world between
paying and being paid.  The act of paying is perhaps the most
uncomfortable infliction that the two orchard thieves entailed upon
us.  But BEING PAID,--what will compare with it?  The urbane activity
with which a man receives money is really marvellous, considering
that we so earnestly believe money to be the root of all earthly
ills, and that on no account can a monied man enter heaven.  Ah! how
cheerfully we consign ourselves to perdition!

Finally, I always go to sea as a sailor, because of the wholesome
exercise and pure air of the fore-castle deck.  For as in this world,
head winds are far more prevalent than winds from astern (that is, if
you never violate the Pythagorean maxim), so for the most part the
Commodore on the quarter-deck gets his atmosphere at second hand from
the sailors on the forecastle.  He thinks he breathes it first; but
not so.  In much the same way do the commonalty lead their leaders in
many other things, at the same time that the leaders little suspect
it.  But wherefore it was that after having repeatedly smelt the sea
as a merchant sailor, I should now take it into my head to go on a
whaling voyage; this the invisible police officer of the Fates, who
has the constant surveillance of me, and secretly dogs me, and
influences me in some unaccountable way--he can better answer than
any one else.  And, doubtless, my going on this whaling voyage,
formed part of the grand programme of Providence that was drawn up a
long time ago.  It came in as a sort of brief interlude and solo
between more extensive performances.  I take it that this part of the
bill must have run something like this:


"GRAND CONTESTED ELECTION FOR THE PRESIDENCY OF THE UNITED STATES.
"WHALING VOYAGE BY ONE ISHMAEL.
"BLOODY BATTLE IN AFFGHANISTAN."


Though I cannot tell why it was exactly that those stage managers,
the Fates, put me down for this shabby part of a whaling voyage, when
others were set down for magnificent parts in high tragedies, and
short and easy parts in genteel comedies, and jolly parts in
farces--though I cannot tell why this was exactly; yet, now that I
recall all the circumstances, I think I can see a little into the
springs and motives which being cunningly presented to me under
various disguises, induced me to set about performing the part I did,
besides cajoling me into the delusion that it was a choice resulting
from my own unbiased freewill and discriminating judgment.

Chief among these motives was the overwhelming idea of the great
whale himself.  Such a portentous and mysterious monster roused all
my curiosity.  Then the wild and distant seas where he rolled his
island bulk; the undeliverable, nameless perils of the whale; these,
with all the attending marvels of a thousand Patagonian sights and
sounds, helped to sway me to my wish.  With other men, perhaps, such
things would not have been inducements; but as for me, I am tormented
with an everlasting itch for things remote.  I love to sail forbidden
seas, and land on barbarous coasts.  Not ignoring what is good, I am
quick to perceive a horror, and could still be social with it--would
they let me--since it is but well to be on friendly terms with all
the inmates of the place one lodges in.

By reason of these things, then, the whaling voyage was welcome; the
great flood-gates of the wonder-world swung open, and in the wild
conceits that swayed me to my purpose, two and two there floated into
my inmost soul, endless processions of the whale, and, mid most of
them all, one grand hooded phantom, like a snow hill in the air.

## Reading from multiple txt files

In [30]:
import os

In [31]:
#!unzip dataset.zip

unzip:  cannot find or open dataset.zip, dataset.zip.zip or dataset.zip.ZIP.

In [33]:
# Getting list of all files in the folder
file_names=os.listdir(path='/content/NLPforHumanist/moby_dick/')

In [35]:
len(file_names)

3

In [36]:
file_names[:3]

['moby_chp1.txt', 'moby_chp2.txt', 'moby_chp3.txt']

In [34]:
files=[]

# Filling the list with text data from all the files
for file_name in file_names:
    file=open('drive/My Drive/Colab Notebooks/trinity/moby_dick/'+file_name,mode='r',encoding='utf-8')
    text=file.read()
    file.close()
    
    # Appending data to the list
    files.append(text)

FileNotFoundError: ignored

In [ ]:
# Creating dataframe from the list
df=pd.DataFrame(files,columns=['text'])

In [ ]:
# Printing shape of dataframe
print('Shape=>',df.shape)

Shape=> (3, 1)

In [ ]:
# Printing first three rows
df.head()

                                                text
0  CHAPTER 1\n\nLoomings.\n\n\nCall me Ishmael.  ...
1  CHAPTER 2\n\nThe Carpet-Bag.\n\n\nI stuffed a ...
2  CHAPTER 3\n\nThe Spouter-Inn.\n\n\nEntering th...

In [ ]:
df.to_csv('dataframe.csv',index=False)

## Import EXCEL

In [ ]:
path2 = path+"hojaExcelDatosColecciones.xlsx" 

fExcel = pd.ExcelFile(path2)

#Sheet NAMES
print("SHEET NAMES IN THE FILE: ", fExcel.sheet_names,"\n\n")

#TO GET SHEET 
dfHoja1 = fExcel.parse("2014")
print ("Sheet content 2014\n\n", dfHoja1)

print ("\n\n")

dfHoja2 = fExcel.parse(0)# SHEETS starting by 0
print ("FIST SHEET CONTENT \n", dfHoja2)

SHEET NAMES IN THE FILE:  ['2013', '2014']


Sheet content 2014

     idDoc  ENGLISH  FRENCH  FRENCH-UN1  ...  FRENCH-UN4  ITALIAN  RUSSIAN  SPANISH
0      13      290     305         351  ...         308      323      271      290
1      14      606     602         691  ...         652      619      551      563
2      15      302     318         334  ...         313      288      249      273
3      16      601     667         748  ...         740      608      554      539
4      17      267     270         311  ...         295      296      229      265
5      18      611     657         734  ...         720      585      541      528
6      19      289     346         341  ...         323      311      237      286
7      20      612     616         645  ...         662      595      500      563
8      21      669     734         754  ...         763      668      608      658
9      22      679     774         778  ...         750      682      601      646
10     23      665     719         748  ...         755      647      606      579
11     24      626     638         694  ...         715      569      505      550

[12 rows x 10 columns]



FIST SHEET CONTENT
    idDoc  English  French  Italian  Russian  Spanish
0      1      635     609      612      556      603
1      2      687     700      626      586      601
2      3      551     536      508      432      514
3      4      596     575      548      530      580
4      5      735     699      649      608      671
5      6      631     680      621      558      657
6      7      726     759      703      652      711
7      8      703     696      645      629      658
8      9      776     816      759      688      779

In [ ]:
#Reading first sheet ignoring raw 3, 4 and 5
df1=fExcel.parse(0, skiprows=[3,4,5])

print(df1)

In [ ]:
#eWRITE TWO SHEETS each one with a DATAFRAME 
writer = pd.ExcelWriter('ficheroExcelGuardar.xlsx')
df1.to_excel(writer,"hojaNueva")
dfHoja2.to_excel(writer,"segundaHoja")
writer.save()

## Exercise

Read data from all the txt files, combine them, and convert to a dataframe of **lines**. The dataframe must contain one columns.
Useful funtions:
>readlines: Return all lines in the file, as a list where each line is an item in the list object:

>extend: The extend() method adds all the elements of an iterable (list, tuple, string etc.) to the end of the list.

In [ ]:
import os
import pandas as pd
path1='drive/My Drive/Colab Notebooks/trinity/moby_dick/'
files_names=os._____(path1)
lines=___
for iterador in ______:
    print(iterador)
    file=open(path1+iterador,mode='r', encoding='utf-8')
    temp_line=file.____()
    file.close()
    lines.____(temp_line)
    
sentences=[]
for iterador in lines:
    sentences._____(iterador)
   
result=pd.DataFrame({'Lines':sentences})
print(result['Lines'][2])
print('Shape->', result.shape)
result.head()

## Excercise - Step by step

In [ ]:
# Getting list of all files in the folder
files=os.listdir(path1)

files

In [ ]:
lines=[]

# Reading all the lines from the txt files
for i in files:
    temp_file=open('drive/My Drive/Colab Notebooks/trinity/moby_dick/'+i,mode='r',encoding='utf-8')
    temp=temp_file.readlines()
    lines.extend(temp)

In [ ]:
len(lines)

In [ ]:
# Lines from the text files
lines[:10]

In [ ]:
# Sentence or even letter
lines[5][:]

In [ ]:
# Extracting sentences and labels from lines
sentences=[]
for i in lines:
    sentences.append(i)

In [ ]:
# First 10 sentences
sentences[:10]

In [ ]:
# Creating a dataframe
df=pd.DataFrame({
    'Lines':sentences,
})

In [ ]:
# Printing shape of dataframe
print('Shape=>',result.shape)

In [ ]:
result.head()